<!DOCTYPE html>
<html>
  <head>
    <title>Add Plant</title>
  </head>
  <body>
    <h1>Add Plant</h1>
    <form action="/plant/new" method="POST">
      <label for="name">Plant Name:</label>
      <input type="text" id="name" name="name"><br>

      <label for="species">Species:</label>
      <input type="species" id="species" name="species"><br>

      <label for="cultivar">Cultivar:</label>
      <input type="cultivar" id="cultivar" name="cultivar"><br>
      
      <input type="submit" value="Add Plant">
    </form>
    <a href="/">Go Home</a>
  </body>
</html>
