<!DOCTYPE html>
<html>
  <head>
    <title>Harvests by Date</title>
  </head>
  <body>
    <h1>Show harvest by Date</h1>

    <form method="post">
        <label for="date">Harvest Date:</label>
        <input type="date" name="date" id="date">
        <button type="submit">Search</button>
      </form>
      


    <a href="/">Go Home</a>
  </body>
</html>