<!DOCTYPE html>
<html>
<head>
  <title>Plant Repository Page</title>
  <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
  <h1>Ethan Tarlov Homework 5</h1>
  <a href="/plants">View All Plants</a>
  <a href="/plant/new">Add New Plant</a>
  <a href="/plants/search">Search by Name</a>
  <a href="/plants/harvests/search">Search by Harvest Date</a>
</body>
</html>
