<!DOCTYPE html>
<html>
  <head>
    <title>Plant by Name</title>
  </head>
  <body>
    <h1>Show Plant by Name</h1>

    <form method="post" action="/plants/search">
      <label for="name">Plant Name:</label>
      <input type="text" name="name" id="name">
      <button type="submit">Search</button>
    </form>
    <a href="/">Go Home</a>
  </body>
</html>
