<!DOCTYPE html>
<html>
<head>
  <title>Edit Plant Name</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Edit Plant Name</h1>
  <form method="post" action="">
    <label for="name">New Name:</label>
    <input type="text" id="name" name="name" value="<%= plant.name %>">
    <button type="submit">Update</button>
  </form>
  <a href="/">Go Home</a>
</body>
</html>
