a {
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #0056b3;
  }
  
  a:active {
    background-color: #003f7f;
  }
  h1{
    color: #0056b3;
  }
